<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/fav-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Nike Card</title>
</head>
<body>
    <div class="container-about">
        <h3>made with love by <a class="profile" href="https://www.linkedin.com/in/florenciasingh" target="_blank">Florencia Singh</a></h3>
        <h6>Inspired by <a class="profile" href="https://www.youtube.com/channel/UCbwXnUipZsLfUckBPsC7Jog" target="_blank">Online Tutorials</a></h6>
    </div>
    <script type="text/javascript" src="../js/vanilla-tilt.min.js"></script>
    <script type="text/javascript">
        VanillaTilt.init(document.querySelectorAll(".container-about"), {
            max: 25,
            speed: 400
        });
    </script>
</body>
</html>